*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
}

div {
    margin: 2em;
    padding: 1em;

    background-color: #0f0f0f;
    color: aliceblue;
}

.primeira {
    border-radius: 1em;
    text-transform: uppercase;
    text-align: right;
}

.segunda {
    height: 5em;
    border: 3px solid red;
    overflow-y: scroll;
    text-align: justify;
}