/* Estilos para o cabeçalho */
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
h1{
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

/* Estilos para a seção principal */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
section{
    flex: 1;
    margin-right: 20px;
}
section:last-child{
    margin-right: 0;
}
article{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}
article h3{
    margin-top: 0;
}
article p{
    margin-bottom: 0;
}
article a{
    display: block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

/* Estilo da Barra lateral */
aside{
    flex-basis: 200px;
    background-color: #f2f2f2;
    padding: 20px;
}
aside h2{
    margin-top: 0;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}